/* .display {
  display: block;
} */

/* .menu-icon {
  background: #6070ff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  mix-blend-mode: multiply;
  backdrop-filter: blur(12px);
  opacity: 0.9;
} */

/* .menu-icon-ul a {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin: 30px 0 50px 0;
} */

/* .menu-icon-ul li {
  margin: 50px 20px;
} */

@media screen and (min-width: 1024px) {
  .humberger {
    display: none;
  }
}

.humberger {
  background-color: transparent;
  border: 0;
  color: #6070ff;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 40px;
  z-index: 10;
}

#cancel {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 40px;
  z-index: 9;
}

.hide {
  display: none;
}

/* .cancel {
  color: #fff;
  z-index: 20;
} */

/* .menu-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 20px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(15px);
  opacity: 0.97;
} */

.menu-text-1,
.menu-text-2,
.menu-text-3 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btnImg {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.wrapper.show {
  display: none;
}
