
/* stylelint-disable length-zero-no-unit */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #f7f7f9;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

.bg-white {
  background: #fff;
}

.fz-40 {
  font-size: 40px;
}

.fz-18 {
  font-size: 18px;
}

.fz-16 {
  font-size: 16px;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.link {
  text-decoration: none;
  padding: 0;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
}

.logo {
  color: #6070ff;
}

.humberger menu {
  display: none;
}

.humberger {
  cursor: pointer;
}

.head {
  padding: 15px;
  content: "";
  position: relative;
  background-color: #fff;
  background-image: url(./assets/header-bg/Header-bg.svg);
  background-origin: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
  border-bottom-left-radius: 70px;
}

.head__title {
  color: #172b4d;
  width: 10ch;
  margin-top: 5rem;
  font-size: 40px;
  font-weight: 1000;
}

.head__dsc {
  margin: 0.8rem 0;
  color: #344563;
}

.head__link {
  color: #7f8cff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
}

.sidebar.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 20px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(15px);
  opacity: 0.97;
}

.sidebar {
  display: none;
}

.wrapper.show {
  opacity: 0.97;
}

.menu-link {
  margin-left: 24px;
  color: #fff;
  text-decoration: none;
  font-family: poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: 44px;
  margin-bottom: 1rem;
}

.cancel-styling {
  height: 26px;
  position: absolute;
  left: 85%;
  margin-top: 15px;
  color: #fff;
}

.cancel {
  border: none;
  background: transparent;
  outline: none;
  color: #67798e;
  font-size: 2rem;
  margin-left: auto;
  position: absolute;
  top: 4rem;
  right: 40px;
  z-index: 9;
}

.cancel:hover,
.cancel:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

ul.social-media-icons {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-radius {
  border-bottom-left-radius: 70px;
  padding: 100px 0 120px 0;
}

.assets__icons {
  margin-top: 1rem;
  width: 100vw;
}

/* works */
.works-card-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 5.5rem;
  justify-content: center;
  padding: 7.125rem 1.5rem;
  list-style: none;
  margin: 0;
}

.works-card {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 40%);
  background: #fff;
}

.works-card-img {
  width: 100%;
}

.works-card-title {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 0;
  padding: 0;
}

.works-card-sub {
  align-items: center;
  column-gap: 2rem;
  margin: 20px 0;
  display: flex;
}

.sub-1 {
  line-height: 16px;
  font-size: 13px;
  color: #344563;
  margin: 0;
  padding: 0;
}

.works-card-sub-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.works-card-sub-link {
  margin-right: 2rem;
  line-height: 16px;
  font-size: 13px;
  color: #7a869a;
}

.works-card-sub-list li::after {
  color: gray;
  font-size: 1.5em;
}

.works-card-desc {
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
  margin: 0;
  padding: 0;
}

.works-card-topics-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0 1.8rem;
}

.works-card-topic {
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  color: #593e9b;
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  float: left;
}

.works-card-btn > .btn {
  width: 124px;
  height: 48px;
  padding: 12px;
  border: 1px solid #593e9b;
  border-radius: 8px;
  cursor: pointer;
  line-height: 24px;
  font-weight: 500;
  font-size: 17px;
  color: #593e9b;
  background: #fff;
}

/* about */
.about {
  padding: 7.125rem 1.5rem;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.about-about-h2 {
  width: 5ch;
  line-height: 52px;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin: 0;
  padding: 0;
}

.about-desc {
  margin: 10px 0;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.about-conn {
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #593e9b;
  margin: 0;
  padding: 0;
}

.h3-conn {
  color: #593e9b;
}

.about-icons {
  margin: 1.3rem 0 1rem;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  display: flex;
  list-style: none;
  padding: 0;
}

.about-icons-li-a {
  text-decoration: none;
}

.about-tools-list {
  margin: 6px 0;
  padding: 24px 0;
  list-style: none;
}

.about-btn > .btn {
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  margin: 8px 0;
  width: 170px;
  height: 60px;
  padding: 12px;
  border: 1px solid #6070ff;
  cursor: pointer;
}

.about-languages-list {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
  display: flex;
}

.about-lang-title {
  line-height: 24px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin: 0;
  padding: 0;
}

.about-lang {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-lang-row {
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
  display: flex;
  background: #f7f7f9;
}

.about-lang-name {
  line-height: 20px;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  margin: 0;
  padding: 0;
}

.border-bottom {
  border-bottom: 1px solid #a8a8a8;
}

.Contact-form {
  background-color: #6070ff;
  background-image: url("./contact-form.png");
  background-repeat: no-repeat;
  background-size: 242px 648px;
  background-position: top right;
  border-top-left-radius: 70px;
}

.contact_container {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.contact_container span {
  width: 40px;
  margin: 5px 30%;
}

.contact_container form {
  padding: 12px;
}

.ul input {
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  color: #172b4d;
  font-size: 17px;
  line-height: 20px;
  padding: 12px;
  margin: 10px 0;
  width: 100%;
}

.ul textarea {
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #b3bac5;
  font-size: 15px;
  line-height: 24px;
  padding: 3px 36px 40px 3px;
  width: 100%;
  margin-top: 8px;
}

.ul button {
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  padding: 12px;
  border: none;
  margin: 8px 0;
}

.button:hover {
  background: white;
}

.contact_title {
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  line-height: 52px;
  font-family: Poppins, sans-serif;
  color: white;
  text-align: center;
  margin-top: 95px;
}

.contact_dsc {
  font-style: normal;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin: 0.8rem 0 2.8rem;
}

.menu-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .humberger-toggle {
    visibility: hidden;
  }

  .sidebar {
    display: none;
  }

  .menu-desktop {
    display: flex;
    margin-left: auto;
    margin-right: 120px;
    visibility: visible;
  }

  .menu-desktop ul {
    display: flex;
  }

  .menu-desktop li {
    list-style: none;
    padding: 12px;
    text-decoration: none;
  }

  .menu-desktop li a {
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    background-color: #fff;
  }

  .menu-desktop li a:hover {
    color: #4472e7;
  }

  .head {
    width: 90%;
    margin: 0 auto;
  }

  .navbar__logo .logo {
    font-size: 1.7rem;
    margin: 10px 0 0 20px;
  }

  .first-card {
    display: flex;
    flex-direction: row;
  }

  .first-card img {
    padding-right: 40px;
  }

  .second-card {
    display: flex;
    flex-direction: row-reverse;
  }

  .third-card {
    display: flex;
    flex-direction: row;
  }

  .second-card img {
    padding-right: 30px;
  }

  .fourth-card {
    display: flex;
    flex-direction: row-reverse;
  }

  .third-card img {
    padding-right: 40px;
  }

  .fourth-card img {
    padding-left: 40px;
  }

  .about {
    display: flex;
    flex-direction: row;
  }

  .about-me-description {
    width: 50%;
    padding-right: 40px;
    padding-top: 20px;
  }

  .about-tech-stack {
    width: 40%;
  }

  .contact_container {
    width: 40%;
    margin: 0 auto;
    align-items: center;
  }

  #form button {
    margin-left: 30%;
  }

  .head__title {
    padding-left: 60px;
    width: 50%;
  }

  .head__dsc {
    padding-left: 60px;
    width: 70%;
  }

  .button:hover {
    background: white;
  }

  .about-conn {
    padding-left: 60px;
    width: 50%;
  }

  .assets__icons {
    padding-left: 60px;
    width: 50%;
  }

  .contact_container form {
    padding: 10px;
    width: 447px;
    height: 395px;
    left: 177px;
    top: 182px;
  }
}

/* pop-up */
