@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #F7F7F9;
  overflow-x: hidden;
}

.bg-white {
  background: #fff;
}

.fz-40 {
  font-size: 40px;
}

.fz-18 {
  font-size: 18px;
}

.fz-16 {
  font-size: 16px;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

/* .1h-52 {
  line-height: 52px;
}

.1h-24 {
  line-height: 24px;
}

.1h-20 {
  line-height: 20px;
} */

.link {
  text-decoration: none;
  padding: 0;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #6070ff;
}

.humberger menu {
  display: none;
}

.humberger {
  cursor: pointer;
}

.head {
  padding: 15px;
  content: "";
  position: relative;
  background-color: #fff;
  background-image: url(./header-shapes\ mobile@2x.svg);
  background-origin: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}

.head__title {
  color: #172b4d;
  width: 10ch;
  margin-top: 5rem;
  font-size: 40px;
  font-weight: 1000;
}

.head__dsc {
  margin: 0.8rem 0;
  color: #344563;
}

.head__link {
  color: #7f8cff;
  text-decoration: none;
  text-transform: uppercase;
}

ul.social-media-icons {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assets__icons {
  margin-top: 1rem;
  width: 100vw;
}

/* Works */
#works {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_works {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  margin-top: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

.card_works > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card_works_image {
  border-radius: 8px;
}

.card_works_heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

.card_works_links > span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card_works_tags {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.card_works_tags > span {
  padding: 4px 12px;
  background: #EBEBFF;
  border-radius: 8px;
  margin-right: 3px;
  color: #396DF2;
}

.card_works_button {
  background: #FFFFFF;
  border: 2px solid #396DF2;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396DF2;
  padding: 10px 5px;
  margin: 10px 3px;
  width: 200px;
  text-transform: capitalize;
}

.about {
  padding: 15px;
  content: "";
  margin-top: 100px;
  /* position: relative; */
  background-color: #fff;
  background-origin: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}

.card_about {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px;
  background-color: white;
  margin-top: 20px;
  border: 1px solid #cfcfcf;
}

.accordion{
  padding: 0 16px;
  width: 100%;
}

.accordion_section_title{
  padding: 20px 0;
  border-bottom: 1px solid rgb(168, 166, 166);
  font-weight: bold;
}

.no-border{
  border-bottom: 0px;
}

.pull-right{
  float: right;
}

.language_img{
  height: 100%;
}

.language{
  display: flex;
  background-color: #F7F7F9;
  margin: 10px 0;
  line-height: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 10px 25px;
}

.language > span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  vertical-align: middle;
}




